@import "../../style/variables";

.inputLogin {
  margin-top: 2rem;

  input {
    width: 19.2rem;
    max-width: 70vw;
    height: 4.7rem;
    max-height: 20vh;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: $colorGrey;
    font-family: $fontFamily;
    text-align: center;
  }

}
