@import "../../style/variables";

.submitButton input {
  width: 16rem;
  max-width: 60vw;
  height: 4rem;
  max-height: 10vh;
  border-radius: 2.75rem;
  border: none;
  font-size: 2.25rem;
  background-color: $colorDarkBlue;
  color: $colorWhite;

  &:hover {
    background-color: $colorDarkRed;
    transition: background-color 1s;
    cursor: pointer;
    color: $colorBlack;
  }

}
