.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100% ;
  height: 100vh;

  img {
    width: auto;
    height: 10rem;
  }

  p {
    color: red;
    text-align: center;
    text-transform: uppercase;
  }
}
