@import "../../style/variables";

.plaqueImmatriculation {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 15rem;
  max-width: 80vw;
  height: 75px;
  border-radius: 20px;
  background-color: $colorDarkGrey;
  margin-bottom: 1rem;

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    border-right: 2px solid $colorWhite;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.5rem;
  }

  &__right {
    width: 75%;
    text-align: center;
    font-size: 1.5rem;
    color: $colorWhite
  }

}
