@import "../../style/variables";

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: $colorWhite;
  gap: 12px;
  margin-bottom: 1rem;
}

button {
  background-color: $colorWhite;
  border: none;
  cursor: pointer;
  img {
    width: 26px;
    height: 26px
  }
}

img {
  &.logo {
    width: auto;
    height: 8rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
