@import "../../style/variables";

.itemList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    max-width: 80%;
    border-bottom: 2px dashed black;
    font-family: $fontFamily;

    &__upZone {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        text-transform: uppercase;

    }

    &__downZone {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 1rem;
    }
}

.btn {
    width: 11rem;
    max-width: 80vw;
    height: 2.5rem;
    max-height: 10vh;
    border-radius: 2.75rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    outline: none;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    color: $colorWhite;
    background-color: $colorDarkBlue;

    &:hover {
        transform: translateY(-1px) rotateX(2deg);
        color: #0a0a0a;
        transition: color 400ms;
    }
}
